<div class="container__big-card">

  <div class="big-card__photo">
      <img src="https://www.mundodeportivo.com/alfabeta/hero/2023/05/miniatura-novedades-eafc.png?width=1200"
      alt=""
      height="200px"
      >
  </div>
  <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do FIFA</a></h1>
  </div>
  <div class="big-card__description">
     <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis augue. Pellentesque efficitur pulvinar condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque quam est, placerat id viverra eget, condimentum eu augue. Cras ornare condimentum est.
     </a>
     </p>
  </div>
</div>
